body {
    font-family: perm;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/watercolor-rainbow-background-design_23-2149574536.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: white;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

h1 {
    margin-bottom: 50px;
    color: #333;
    font-family:"Permanent Marker", cursive;
    font-size: 50px;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    font-size: 20px;
    
}

#addTaskButton {
  text-wrap: nowrap;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  font-size: 20px;
}

#addTaskButton:hover {
    background-color: #218838;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

#taskList li:last-child {
    border-bottom: none;
}

.task-checkbox {
    margin-right: 10px;

}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
.container2 {
    margin-top: -90px;
}
  